
.login-form-container{
    width: 70vw;
    height: 70vh;
    margin-top: 20vh;
    border-radius: 8px;
    border: 2px solid grey;
    background-color: #FFE662;
    display: flex;
}

.login-form-container-left{
    background-color: white;
    width: 70%;
    border-right: 2px solid rgb(168, 168, 168);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-input-field{
    width: 30vw;
    height: 2.5rem;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 4px;
    margin-top: 1rem;
}

.login-img{
    height: 40vw;
    height: 45vh;
    position: absolute;
    right: 10vw;
    top: 12rem;
}

.login-submit-button{
    float: right;
    padding: 0.8rem;
    border-radius: 6px;
    font-weight: 600;
    box-shadow: 1px 1px solid #e9c04e;
    background-color: #FFE662;
    cursor: pointer;
}

.login-submit-button:focus{
    border: 2px solid rgb(156, 0, 0);
}

.isLogged-content{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}


.isLogged-content-notifi{
    margin: 1rem;
    padding: 3rem;
    text-align: center;
    color: rgb(2, 94, 2);
    font-weight: 600;
    border: none;
    background-color: #fff7e0;
}

.isLogged-content-logout-btn{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 6px;
    background-color: #640202;
    color: white;
    width: 6rem;
}