.item1 {
  background-color: #FFFF99;
  padding: 30rem;
}

.item2 {
  background-color: #FFFFFF;
  padding: 12.5rem;
}

.Container {
  display: flex;
}

.form{
  box-sizing: border-box;
 padding-top: 100%;
 padding-bottom: 100%;
 padding-inline-start: 25%;
  padding-right: 368%;
  margin-left: -10%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #FFFFFF;
}

.style-box {
  box-sizing: border-box;
  margin-top: 2000%;
  margin-left: -1400%;
  padding-top: 525%;
  padding-bottom: 2650%;
  padding-left: 300%;
  padding-inline-start: 25%;
  background-color: hsl(60, 100%, 50%);
  border: 1px solid hsl(60, 100%, 50%);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.input{
  border: 1px solid hsl(229, 100%, 50%); 
  padding-top: 100%;
  padding-bottom: 50%;
  margin-bottom: 150%;
  margin-top: 100%;
  border-radius: 50px;
}
.header{
  color: rgb(26, 10, 3);
}

.sbt-button {
  border: 1px solid hsl(229, 100%, 50%);
  background-color: hsl(60, 100%, 50%);
}
