.modal-menu-content::-webkit-scrollbar{
    display: none;
  }

.order-page-table-row{
    display: flex;
    margin-top: 1rem;
    border-bottom: 2px solid rgb(165, 164, 164);
}

.order-page-data-row-description{
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.get-order-pdf-button{
  background-color: #040f50;
  color: white;
  padding: 0.4rem;
  border: none;
  opacity: 0.9;
  margin: 0.2rem;
}

.inform-arrival{
  background-color: #bb0202;
}

.generate-report{
  background-color: #FFE662;
  color: black;
  font-weight:bold;
}

.get-order-pdf-button:hover{
  opacity: 1;
}

.filter-by{
  display: flex;
  font-weight:'bold';
}


@media (max-width: 768px) {
  .report-content, .action-bar-btn-content{
    margin: 1rem;

  }
  .filter-action-bar{
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .filter-by{
    display: flex;
    justify-content: flex-start;
    margin:0.5rem;
  }

  .get-order-pdf-button{
    padding: 0.2rem;
  }

  .order-button-content{
    padding: 0.1rem;
  }

  .order-page-data-row-mobile-res{
    display: flex;
    flex-direction: column;
  }

  .order-page-data-row-description{
    margin-left: 1rem;
  }
}
