.show-winner-detail-content::-webkit-scrollbar {
    display: none;
}

.winner-container{
    height: 75%;
    width: 50%;
    margin: 3rem;
}

.full-container{
    margin-left: 100px;
}
.detail-container{
    margin-top: 50px;
    margin-left: 40px;
}

.form-label{
    font-size: 20px;
    padding-top: 1vw;
    margin-bottom: 20px;
    margin-top:  35px;
    font-weight: bold;
}

.form-input{
    height: 30px;
    width: 237px;
    left: 220px;
    top: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top:  45px;;
    margin-left: 100px;

}

.form-input-file-background{
    height: 100px;
    width:200px;
    border-radius: 5px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    background-color: #FFE662;
    height: 45px;
    width: 140px;
    border-style: hidden;
    border-radius: 30px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 700px;
}


@media screen and (min-width: 500px) {


}

/* Empty Winner Page Styles */
.winner-detail-content{
    height: 87%;
    width: 100%;
    top: 13%;
}

.add-winner-input-box{
    height: 80%;
    width: 80%;
    border-radius: 7px;
    margin-left: 50%;
    margin-top: 40%;
    background-color: rgba(223, 222, 222, 0.575);
    cursor: pointer;
}

.add-winner-input-box-text{
    text-align: center;
    padding-top: 2rem;
    color: #707070;
}

.add{
    color: black;
}


/* Show Winner Styles */
.show-winner-detail-content{
    height: 24rem;
    width: 100%;
    margin-top: 22%;
    margin-left: 30%;
    overflow-y: scroll;
}

.winner-detail-content-area{
    text-align: center;
}

.winner-detail-content-img-profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;

}

.winner-detail-content-img-gift{
    height: 200px;
    width: 260px;
    object-fit: contain;
    background-color: rgb(180, 178, 178);
}
