.full-container{
    margin-left: 100px;
}
.detail-container{
    margin-top: 50px;
    margin-left: 40px;
}

.form-label{
    font-size: 20px;
    padding-top: 1vw;
    margin-bottom: 20px;
    margin-top:  35px;
    font-weight: bold;
}

.form-input{
    height: 30px;
    width: 237px;
    left: 220px;
    top: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top:  45px;;
    margin-left: 100px;

}

.form-input-file-background{
    height: 100px;
    width:200px;
    border-radius: 5px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    background-color: #FFE662;
    height: 45px;
    width: 140px;
    border-style: hidden;
    border-radius: 30px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 700px;
}


@media screen and (min-width: 500px) {


}