.sidebar-styles{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #FFE662;
    min-height: 100vh;
    width: 16vw;
    position: fixed;
}

.top{
    font-size: 1.3rem;
    padding: 3rem 0 0 2rem;
}

.logo a {
    text-decoration: none;
}

.title{
    padding: 0 0 0 2rem;
}

.title a{
    display: block;
    text-decoration: none;
    padding: 0.5rem 3rem 0.5rem 1rem;
    border-radius: 10px;
    width: 15vh;
}

.active{
    background-color: #525252;
    padding: 0.5rem 3rem 0.5rem 1rem;
    color: white;
    border-radius: 10px;
}