.sidebar-styles{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f6ef;
    color:#000000;
    min-height: 100vh;
    width: 18vw;
    position: fixed;
}

.top{
    font-size: 1.3rem;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    
}

.logo a {
    text-decoration: none;
    color:#630A10;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
    margin-bottom: 100px;

}


.center{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color:#000000;
    margin-left: 10px;

    

}

.title{
    padding: 0 0 0 2rem;
}

.title a{
    display: block;
    text-decoration: none;
    padding: 0.5rem 3rem 0.5rem 1rem;
    border-radius: 10px;
    width: 15vh;
}

.active{
    background-color: #FFEF9C;
    padding: 0.5rem 3rem 0.5rem 1rem;
    color: #2B2B2B;
    border-radius: 10dp;
    border: 4dp shadow black; 
    
}